{
  "printWidth": 100,
  "semi": true,
  "overrides": [
    {
      "files": [
        "**/*.css",
        "**/*.scss",
        "**/*.html",
        "**/*.tsx",
        "**/*.vue",
        "**/*.js",
        "**/*.ts"
      ],
      "options": {
        "singleQuote": true
      }
    }
  ],
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
